name: CI/CD

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
            - uses: bahmutov/npm-install@v1
            - run: npm run build
            - run: npx keycloakify

    check_if_version_upgraded:
        name: Check if version upgraded
        if: github.event_name == 'push'
        runs-on: ubuntu-latest
        needs: test
        outputs:
            from_version: ${{ steps.step1.outputs.from_version }}
            to_version: ${{ steps.step1.outputs.to_version }}
            is_upgraded_version: ${{ steps.step1.outputs.is_upgraded_version }}
        steps:
            - uses: garronej/ts-ci@v2.1.0
              id: step1
              with:
                  action_name: is_package_json_version_upgraded

    create_github_release:
        runs-on: ubuntu-latest
        needs: check_if_version_upgraded
        # We create a release only if the version in package.json has been updated
        if: needs.check_if_version_upgraded.outputs.is_upgraded_version == 'true'
        permissions:
            contents: write
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
            - uses: bahmutov/npm-install@v1
            - run: npm run build
            - run: npx keycloakify

            - name: Create Release
              uses: softprops/action-gh-release@v1
              with:
                  name: Release v${{ needs.check_if_version_upgraded.outputs.to_version }}
                  tag_name: v${{ needs.check_if_version_upgraded.outputs.to_version }}
                  target_commitish: ${{ github.ref }}
                  generate_release_notes: true
                  draft: false
                  files: build_keycloak/target/*.jar

    gh_pages:
        runs-on: ubuntu-latest
        needs: create_github_release
        permissions:
            contents: write
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
            - uses: bahmutov/npm-install@v1
            - run: npm run build
              # This builds the Storybook/React app part

            - name: Upload artifact
              uses: actions/upload-pages-artifact@v3
              with:
                  path: build

    deploy_gh_pages:
        needs: gh_pages
        permissions:
            pages: write
            id-token: write
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        steps:
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
